<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <p><%= item.title %></p>
    </div>
    <div class="col-md-4">
        <p><%= item.description %></p>
    </div>
    <div class="col-md-4">
        <p>R$ <%= number_with_precision(item.price, :precision => 2) %></p>
    </div>
<div>



