<div class="container-fluid">
  <h1>Todos os items disponíveis</h1>
</div>

<div class="container-fluid">
    <% @items.each_slice(4).to_a.each do |itemrow| %>
      <div class="row">
        <% itemrow.each do |item| %>
          <div class="col-md-3">
            <%= render item %>
            <% if admin?%>
              <%=link_to "editar o item", edit_item1_path(item[:id]), class:'btn btn-default' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <% if admin? %>
        <%= link_to "adiconar novo item", new_item_path, class:'btn btn-default' %>
      <% end %>   
      <%= link_to "De volta para categorias", {controller: 'categories'}, class:'btn btn-default'%>
    <div class="col-md-4"></div>
  </div>
</div>