<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Pratos</h1>
      </div>
    <div class="col-md4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    	<% @items.each do |item| %>
            <p><%= item.title %></p>
        <% end %>
    </div>
    <div class="col-md-4">
    	<% @items.each do |item| %>
            <p><%= item.description %></p>
        <% end %>
    </div>
    <div class="col-md-4">
    	<% @items.each do |item| %>
            <p><%= item.price %></p>
        <% end %>
    </div>
<div>
         