<div class="container-fluid">
  <h1><%= @category.title %></h1>
</div>

<div class="container-fluid">
    <% @items.each_slice(4).to_a.each do |itemrow| %>
    	<div class="row">
    		<% itemrow.each do |item| %>
    			<div class="col-md-3">
    			<%= render item %>
    			</div>
    		<% end %>
    	</div>
    <% end %>
</div>

<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<%= link_to 'Retornar', categories_path, class:'btn btn-default' %>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

			