<div class="jumbotron" id="header">
  <h1>Dinnerdash</h1>
  <p>Suas necessidades nutricionais a apenas um clique</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2"><%= link_to "Sign Up", {action: "new", controller: 'users'}, class: 'btn btn-info btn-md' %></div>
	</div>
</div>